# Loading CSV

In [1]:
import pandas as pd

In [2]:
!ls

 01-intro_to_DS_toolkit_class.ipynb		  11_exercises.ipynb
 01-intro_to_DS_toolkit_clean.ipynb		  12_Dict_y_set_class.ipynb
'01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls'	  12_Dict_y_set_clean.ipynb
 01_intro_to_DS_toolkit_halfempty.ipynb		  AccidentesBicicletas_2019.csv
 01_intro_to_DS_toolkit_inclass.ipynb		  Exercises.ipynb
 02-loading_and_saving_data_empty.ipynb		  Finn.txt
 02-loading_and_saving_data_inclass.ipynb	  FirstPlot.jpg
 02-loading_and_saving_data_inclass_benat.ipynb   Mult_matrix.xlsx
 03-merge_concatenate_transform_empty.ipynb	  houses.csv
 04-group_by_empty.ipynb			  newdb.db
 05-visualization_introduction_empty.ipynb	  newfile.txt
 06_exercises-class.ipynb			  results.csv
 06_exercises-clean.ipynb			  results.xls
 07_working_with_files-class.ipynb		  results.xlsx
 07_working_with_files-clean.ipynb		  tips.csv
 08_09_Lists_class.ipynb			  tips.csv.1
 08_09_Lists_clean.ipynb			  tips.csv.2
 10_tuplas_class.ipynb				  train.csv
 10_tuplas_clean.ipynb

In [3]:
!head ./AccidentesBicicletas_2019.csv

In [3]:
pd.read_csv('./AccidentesBicicletas_2019.csv', encoding='latin1')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 42, saw 2

In [2]:
df =pd.read_csv('./AccidentesBicicletas_2019.csv', encoding='latin1',sep=';')
type(df)

pandas.core.frame.DataFrame

# Saving to Excel

In [4]:
df.to_excel('./results.xls')

In [5]:
df.to_excel('./results.xlsx')

# Saving to CSV

In [11]:
df.to_csv('./results.csv', sep=";")

In [12]:
df.to_csv('./results.csv', sep="^")

# Reading Excel

In [11]:
pd.read_excel('./01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls', sheet_name='2010', skiprows=7, index_col=0,
             usecols="A:K", skipfooter=1)

,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
DISTRITO_ACCIDENTE,,,,,,,,,,
ARGANZUELA,403,48,103,75,7,26,15.0,2.0,5.0,6.0
BARAJAS,62,5,34,22,1,11,NaN,NaN,NaN,NaN
CARABANCHEL,357,35,133,114,7,22,14.0,6.0,7.0,1.0
CENTRO,546,43,142,169,2,60,14.0,9.0,13.0,9.0
CHAMARTIN,460,67,128,85,11,77,16.0,1.0,8.0,5.0
CHAMBERI,361,34,86,103,1,66,14.0,5.0,2.0,4.0
CIUDAD LINEAL,404,79,120,90,8,39,12.0,6.0,7.0,2.0
FUENCARRAL-EL PARDO,294,49,165,72,10,26,9.0,6.0,3.0,2.0
HORTALEZA,183,15,68,44,4,11,8.0,4.0,3.0,3.0
LATINA,273,37,93,94,6,24,4.0,7.0,10.0,4.0
MONCLOA-ARAVACA,350,47,177,75,10,45,9.0,6.0,9.0,11.0
MORATALAZ,127,21,58,33,6,13,5.0,2.0,2.0,1.0
PUENTE DE VALLECAS,324,44,157,107,7,20,9.0,3.0,8.0,7.0
RETIRO,349,55,33,57,2,45,12.0,7.0,7.0,5.0
SALAMANCA,506,44,131,89,6,89,19.0,1.0,9.0,6.0
SAN BLAS,274,27,62,66,2,22,6.0,2.0,5.0,2.0
TETUAN,331,25,87,89,3,47,13.0,6.0,4.0,3.0
USERA,178,36,78,78,4,14,2.0,4.0,NaN,4.0
VICALVARO,65,4,60,22,3,16,NaN,1.0,1.0,5.0
VILLA DE VALLECAS,124,9,63,32,8,9,3.0,1.0,NaN,3.0
VILLAVERDE,147,21,58,54,2,9,4.0,2.0,2.0,1.0

#### Homework

Consolidate the excel into one DataFrame: you will need to create a 'YEAR' column. Think how you can iterate through all the DataFrames. Think also where you can take the value of 'YEAR' from.

In [6]:
pd.ExcelFile('./01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls').sheet_names

['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']

In [7]:
def clean_text(s):
    import re
    from unicodedata import normalize
    # -> NFD y eliminar diacríticos
    s = re.sub(
        r"([^n\u0300-\u036f]|n(?!\u0303(?![\u0300-\u036f])))[\u0300-\u036f]+", r"\1", 
        normalize( "NFD", s), 0, re.I
    )
    # -> NFC
    return normalize( 'NFC', s)

In [8]:
s = "Pingüino: Málãgà ês uñ̺ã cíudãd fantástica y èn Logroño me pica el... moñǫ̝̘̦̞̟̩̐̏̋͌́ͬ̚͡õ̪͓͍̦̓ơ̤̺̬̯͂̌͐͐͟o͎͈̳̠̼̫͂̊"

In [9]:
data = pd.DataFrame()
filename = './01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls'
for year in range(len(pd.ExcelFile(filename).sheet_names)):
    current_sheet = pd.ExcelFile(filename).sheet_names[year]
    current_data = pd.read_excel(filename,sheet_name=current_sheet, skiprows=7, index_col=0,
             usecols="A:K", skipfooter=1)
    current_data['total_incidents'] = current_data.sum(axis=1)
    current_data['year'] = current_sheet
    data = data.append(current_data)

data.columns = data.columns.str.replace("[^\w-]","").str.lower()
data

,colisióndoble,colisiónmúltiple,choqueconobjetofijo,atropello,vuelco,caídamotocicleta,caídaciclomotor,caídabicicleta,caídaviajerobus,otrascausas,total_incidents,year
DISTRITO_ACCIDENTE,,,,,,,,,,,,
ARGANZUELA,389,54,126,75,9.0,43,9.0,4.0,5.0,8.0,722.0,2009
BARAJAS,89,6,53,21,NaN,12,2.0,1.0,2.0,2.0,188.0,2009
CARABANCHEL,375,44,171,137,8.0,36,13.0,6.0,9.0,8.0,807.0,2009
CENTRO,514,55,171,143,NaN,61,12.0,3.0,10.0,12.0,981.0,2009
CHAMARTIN,494,70,133,92,10.0,72,22.0,2.0,6.0,7.0,908.0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
TETUAN,330,43,70,91,NaN,73,25.0,13.0,5.0,3.0,653.0,2016
USERA,206,27,74,75,2.0,16,2.0,5.0,4.0,1.0,412.0,2016
VICALVARO,70,4,38,22,4.0,15,2.0,3.0,2.0,1.0,161.0,2016
VILLA DE VALLECAS,149,7,42,54,5.0,26,4.0,4.0,1.0,3.0,295.0,2016
VILLAVERDE,177,11,71,54,1.0,8,5.0,6.0,2.0,1.0,336.0,2016

In [23]:
data.groupby('DISTRITO_ACCIDENTE')['total_incidents'].sum()

DISTRITO_ACCIDENTE
ARGANZUELA                        5154.0
BARAJAS                           1347.0
CARABANCHEL                       5820.0
CENTRO                            7638.0
CHAMARTIN                         6985.0
CHAMBERI                          5517.0
CIUDAD LINEAL                     6097.0
FUENCARRAL-EL PARDO               5281.0
HORTALEZA                         3255.0
LATINA                            4605.0
MONCLOA-ARAVACA                   5618.0
MORATALAZ                         2286.0
PUENTE DE VALLECAS                5871.0
RETIRO                            4952.0
SALAMANCA                         7601.0
SAN BLAS                          4051.0
TETUAN                            4957.0
USERA                             3151.0
VICALVARO                         1315.0
VILLA DE VALLECAS                 2071.0
VILLAVERDE                        2417.0
Name: total_incidents, dtype: float64

In [31]:
data2019=pd.read_csv('./AccidentesBicicletas_2019.csv', encoding='latin1',sep=';')
data2019

,Nº EXPEDIENTE,FECHA,HORA,CALLE,NÚMERO,DISTRITO,TIPO ACCIDENTE,ESTADO METEREOLÓGICO,TIPO VEHÍCULO,TIPO PERSONA,RANGO DE EDAD,SEXO,LESIVIDAD*
0,2019S000659,01/01/2019,14:00,CALL. CASTELLO / CALL. DON RAMON DE LA CRUZ,-,SALAMANCA,Alcance,Despejado,Bicicleta,Conductor,DE 25 A 29 AÑOS,Hombre,1.0
1,2019S000036,02/01/2019,20:45,AVDA. GRAN VIA DE HORTALEZA / GTA. LUIS ROSALES,-,HORTALEZA,Colisión fronto-lateral,Despejado,Bicicleta,Conductor,DE 70 A 74 AÑOS,Hombre,3.0
2,2019S000133,03/01/2019,14:30,CALL. FELIPE ALVAREZ,10,VILLA DE VALLECAS,Alcance,Se desconoce,Bicicleta,Conductor,DE 15 A 17 AÑOS,Hombre,7.0
3,2019S000132,03/01/2019,12:45,AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA,-,VILLA DE VALLECAS,Alcance,Despejado,Bicicleta,Conductor,DE 18 A 20 AÑOS,Hombre,7.0
4,2019S000132,03/01/2019,12:45,AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA,-,VILLA DE VALLECAS,Alcance,Despejado,Bicicleta,Conductor,DE 21 A 24 AÑOS,Hombre,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,2019S034457,29/10/2019,20:10,CALL. ARTURO SORIA,334A,CIUDAD LINEAL,Caída,Despejado,Bicicleta,Conductor,DE 40 A 44 AÑOS,Hombre,7.0
775,2019S034336,29/10/2019,11:00,CALL. SAN CONRADO / AVDA. MANZANARES,-,LATINA,Colisión fronto-lateral,Despejado,Bicicleta,Conductor,DE 25 A 29 AÑOS,Hombre,NaN
776,2019S034331,30/10/2019,10:00,RONDA. SEGOVIA / CALL. SEGOVIA,-,CENTRO,Alcance,Despejado,Bicicleta,Conductor,DE 50 A 54 AÑOS,Mujer,7.0
777,2019S034555,31/10/2019,21:05,PASEO. PRADO,40,CENTRO,Alcance,Despejado,Bicicleta,Conductor,DE 21 A 24 AÑOS,Hombre,2.0
778,2019S034565,31/10/2019,15:50,CALL. EMBAJADORES,172,ARGANZUELA,Caída,Despejado,Bicicleta,Conductor,DE 21 A 24 AÑOS,Hombre,1.0

In [95]:
data2019[data2019['CALLE'].str.contains('MURILLO')]

,Nº EXPEDIENTE,FECHA,HORA,CALLE,NÚMERO,DISTRITO,TIPO ACCIDENTE,ESTADO METEREOLÓGICO,TIPO VEHÍCULO,TIPO PERSONA,RANGO DE EDAD,SEXO,LESIVIDAD*
38,2019S005036,24/01/2019,11:15,CALL. BRAVO MURILLO / CALL. PENSAMIENTO,-,TETUÁN,Atropello a persona,Despejado,Bicicleta,Conductor,DE 55 A 59 AÑOS,Hombre,14.0
39,2019S005036,24/01/2019,11:15,CALL. BRAVO MURILLO / CALL. PENSAMIENTO,-,TETUÁN,Atropello a persona,Despejado,Bicicleta,Peatón,DE 55 A 59 AÑOS,Mujer,7.0
133,2019S016157,15/03/2019,22:00,CALL. BRAVO MURILLO,305,TETUÁN,Colisión lateral,Despejado,Bicicleta,Conductor,DE 21 A 24 AÑOS,Hombre,2.0
162,2019S016996,24/03/2019,2:00,CALL. BRAVO MURILLO,120,TETUÁN,Caída,Despejado,Bicicleta,Conductor,DE 25 A 29 AÑOS,Hombre,14.0
232,2019S020351,04/05/2019,21:15,CALL. CEA BERMUDEZ / CALL. BRAVO MURILLO,-,CHAMBERÍ,Alcance,Despejado,Bicicleta,Conductor,DE 21 A 24 AÑOS,Mujer,6.0
279,2019S021460,19/05/2019,4:15,CALL. BRAVO MURILLO,164,TETUÁN,Caída,Despejado,Bicicleta,Conductor,DE 30 A 34 AÑOS,Mujer,7.0
379,2019S024007,17/06/2019,10:40,CALL. BRAVO MURILLO,226,TETUÁN,Choque contra obstáculo fijo,Despejado,Bicicleta,Conductor,DE 30 A 34 AÑOS,Hombre,14.0
395,2019S024612,23/06/2019,18:00,CALL. BRAVO MURILLO,246,TETUÁN,Colisión lateral,Despejado,Bicicleta,Conductor,DE 35 A 39 AÑOS,Hombre,5.0
407,2019S025095,28/06/2019,21:00,CALL. BRAVO MURILLO,231,TETUÁN,Alcance,Despejado,Bicicleta,Conductor,DE 40 A 44 AÑOS,Hombre,2.0
541,2019S028666,22/08/2019,6:10,CALL. BRAVO MURILLO / CALL. VIRIATO,-,CHAMBERÍ,Otro,Despejado,Bicicleta,Conductor,DE 50 A 54 AÑOS,Hombre,6.0
637,2019S030871,21/09/2019,13:40,CALL. BRAVO MURILLO / CALL. LOPE DE HARO,-,TETUÁN,Alcance,Despejado,Bicicleta,Conductor,DE 45 A 49 AÑOS,Hombre,2.0
748,2019S033273,18/10/2019,8:15,CALL. BRAVO MURILLO,133,TETUÁN,Caída,Lluvia débil,Bicicleta,Conductor,DE 45 A 49 AÑOS,Hombre,6.0
755,2019S033546,21/10/2019,14:00,CALL. BRAVO MURILLO,155,TETUÁN,Colisión lateral,Despejado,Bicicleta,Conductor,DE 25 A 29 AÑOS,Mujer,14.0
757,2019S033669,22/10/2019,20:00,CALL. BRAVO MURILLO,120,TETUÁN,Alcance,Lluvia débil,Bicicleta,Conductor,DE 30 A 34 AÑOS,Mujer,1.0

In [94]:
data2019.groupby(['CALLE']).agg({'RANGO DE EDAD':sum}) #ARREGLAR

                                                                      RANGO DE EDAD
CALLE
ANILLO VERDE CICLISTA, PKM 32                                       DE 35 A 39 AÑOS
AUTOV. A-42, +00500S                                                DE 35 A 39 AÑOS
AUTOV. M-40 CON AVDA. DOCTOR GARCIA TAPIA                           DE 50 A 54 AÑOS
AUTOV. M-607, +01500E                                DE 15 A 17 AÑOSDE 15 A 17 AÑOS
AUTOV. M-607, +01500S                                DE 21 A 24 AÑOSDE 45 A 49 AÑOS
...                                                                             ...
RONDA. SUR                                                          DE 25 A 29 AÑOS
RONDA. TOLEDO                                                       DE 40 A 44 AÑOS
SAN MAXIMILIANO 49                                  DE 55 A 59 AÑOSMAYOR DE 74 AÑOS
SENDA CICLABLE-AV.ROSALES-CARRET.VILLAV. A VALLECA   DE 55 A 59 AÑOSDE 30 A 34 AÑOS
TRVA. SAN MATEO / CALL. HORTALEZA                                   DE 18 A 20 AÑOS

[546 rows x 1 columns]

# To Sql Database

In [27]:
import sqlite3

connection = sqlite3.connect('newdb.db')

In [28]:
df.to_sql('mynewtable', con=connection, if_exists='replace')

/home/bsanse/anaconda3/envs/kschool_mds_19/lib/python3.7/site-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

# To dictionary and to json

In [29]:
df.head().to_dict()

{'Nº  EXPEDIENTE': {0: '2019S000659',
  1: '2019S000036',
  2: '2019S000133',
  3: '2019S000132',
  4: '2019S000132'},
 'FECHA': {0: '01/01/2019',
  1: '02/01/2019',
  2: '03/01/2019',
  3: '03/01/2019',
  4: '03/01/2019'},
 'HORA': {0: '14:00', 1: '20:45', 2: '14:30', 3: '12:45', 4: '12:45'},
 'CALLE': {0: 'CALL. CASTELLO / CALL. DON RAMON DE LA CRUZ',
  1: 'AVDA. GRAN VIA DE HORTALEZA / GTA. LUIS ROSALES',
  2: 'CALL. FELIPE ALVAREZ',
  3: 'AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA',
  4: 'AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA'},
 'NÚMERO': {0: '-', 1: '-', 2: '10', 3: '-', 4: '-'},
 'DISTRITO': {0: 'SALAMANCA',
  1: 'HORTALEZA',
  2: 'VILLA DE VALLECAS',
  3: 'VILLA DE VALLECAS',
  4: 'VILLA DE VALLECAS'},
 'TIPO ACCIDENTE': {0: 'Alcance',
  1: 'Colisión fronto-lateral',
  2: 'Alcance',
  3: 'Alcance',
  4: 'Alcance'},
 'ESTADO METEREOLÓGICO': {0: 'Despejado',
  1: 'Despejado',
  2: 'Se desconoce',
  3: 'Despejado',
  4: 'Despejado'},
 'TIPO VEHÍCULO': {0: 'Bicicleta',
  1: 'Bicicleta',
  2: 'Bicicleta',
  3: 'Bicicleta',
  4: 'Bicicleta'},
 'TIPO PERSONA': {0: 'Conductor',
  1: 'Conductor',
  2: 'Conductor',
  3: 'Conductor',
  4: 'Conductor'},
 'RANGO DE EDAD': {0: 'DE 25 A 29 AÑOS',
  1: 'DE 70 A 74 AÑOS',
  2: 'DE 15 A 17 AÑOS',
  3: 'DE 18 A 20 AÑOS',
  4: 'DE 21 A 24 AÑOS'},
 'SEXO': {0: 'Hombre', 1: 'Hombre', 2: 'Hombre', 3: 'Hombre', 4: 'Hombre'},
 'LESIVIDAD*': {0: 1.0, 1: 3.0, 2: 7.0, 3: 7.0, 4: 14.0}}

In [30]:
df.head().to_json()

'{"N\\u00ba  EXPEDIENTE":{"0":"2019S000659","1":"2019S000036","2":"2019S000133","3":"2019S000132","4":"2019S000132"},"FECHA":{"0":"01\\/01\\/2019","1":"02\\/01\\/2019","2":"03\\/01\\/2019","3":"03\\/01\\/2019","4":"03\\/01\\/2019"},"HORA":{"0":"14:00","1":"20:45","2":"14:30","3":"12:45","4":"12:45"},"CALLE":{"0":"CALL. CASTELLO \\/ CALL. DON RAMON DE LA CRUZ","1":"AVDA. GRAN VIA DE HORTALEZA \\/ GTA. LUIS ROSALES","2":"CALL. FELIPE ALVAREZ","3":"AVDA. SANTA EUGENIA \\/ CALL. REAL DE ARGANDA","4":"AVDA. SANTA EUGENIA \\/ CALL. REAL DE ARGANDA"},"N\\u00daMERO":{"0":"-","1":"-","2":"10","3":"-","4":"-"},"DISTRITO":{"0":"SALAMANCA","1":"HORTALEZA","2":"VILLA DE VALLECAS","3":"VILLA DE VALLECAS","4":"VILLA DE VALLECAS"},"TIPO ACCIDENTE":{"0":"Alcance","1":"Colisi\\u00f3n fronto-lateral","2":"Alcance","3":"Alcance","4":"Alcance"},"ESTADO METEREOL\\u00d3GICO":{"0":"Despejado","1":"Despejado","2":"Se desconoce","3":"Despejado","4":"Despejado"},"TIPO VEH\\u00cdCULO":{"0":"Bicicleta","1":"Bicicleta","2":"Bicicleta","3":"Bicicleta","4":"Bicicleta"},"TIPO PERSONA":{"0":"Conductor","1":"Conductor","2":"Conductor","3":"Conductor","4":"Conductor"},"RANGO DE EDAD":{"0":"DE 25 A 29 A\\u00d1OS","1":"DE 70 A 74 A\\u00d1OS","2":"DE 15 A 17 A\\u00d1OS","3":"DE 18 A 20 A\\u00d1OS","4":"DE 21 A 24 A\\u00d1OS"},"SEXO":{"0":"Hombre","1":"Hombre","2":"Hombre","3":"Hombre","4":"Hombre"},"LESIVIDAD*":{"0":1.0,"1":3.0,"2":7.0,"3":7.0,"4":14.0}}'

# Reading mysql database

In [31]:
pd.read_sql_query("SELECT FECHA, HORA FROM mynewtable WHERE SEXO = 'Hombre' LIMIT 10", connection)

        FECHA   HORA
0  01/01/2019  14:00
1  02/01/2019  20:45
2  03/01/2019  14:30
3  03/01/2019  12:45
4  03/01/2019  12:45
5  03/01/2019  10:30
6  04/01/2019  17:10
7  04/01/2019  13:35
8  07/01/2019  14:00
9  08/01/2019  20:55