# Amadeus Challenge

### Exercise 1 (number of lines for each file)

In [1]:
!wc -l bookings.csv

10000011 bookings.csv

In [2]:
!wc -l searches.csv

20390198 searches.csv

### Exercise 2 (top 10 arrival airports)

#### Importing data and moving to pandas

In [3]:
import pandas as pd
import datetime as dt
import matplotlib

In [4]:
bookings = pd.read_csv('./bookings.csv', delimiter='^')

/home/matozqui/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
print(bookings.head(5))

   act_date             source  pos_ctry                          pos_iata  \
0  2013-03-05 00:00:00  1A      DE        a68dd7ae953c8acfb187a1af2dcbe123
1  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca
2  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca
3  2013-03-26 00:00:00  1A      AU        0f984b3bb6bd06661c95529bbd6193bc
4  2013-03-26 00:00:00  1A      AU        0f984b3bb6bd06661c95529bbd6193bc

                          pos_oid                      rloc            \
0  1a11ae49fcbf545fd2afc1a24d88d2b7  ea65900e72d71f4626378e2ebd298267
1  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043
2  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043
3  36472c6dbaf7afec9136ac40364e2794  5ecf00fdcbcec761c43dc7285253d0c1
4  36472c6dbaf7afec9136ac40364e2794  5ecf00fdcbcec761c43dc7285253d0c1

   cre_date            duration distance  dep_port  ...  route            \
0  2013-02-22 00:00:00     1708        0  ZRH       ...  LHRZRH
1  2013-03-26 00:00:00   135270        0  SAL       ...  SALATLCLT
2  2013-03-26 00:00:00   135270        0  SAL       ...  CLTATLSAL
3  2013-03-26 00:00:00    30885        0  AKL       ...  AKLHKGSVO
4  2013-03-26 00:00:00    30885        0  AKL       ...  SVOHKGAKL

  carrier  bkg_class  cab_class  brd_time             off_time             \
0      VI  T          Y          2013-03-07 08:50:00  2013-03-07 11:33:37
1      NV  L          Y          2013-04-12 13:04:00  2013-04-12 22:05:40
2      NV  U          Y          2013-07-15 07:00:00  2013-07-15 11:34:51
3      XK  G          Y          2013-04-24 23:59:00  2013-04-25 16:06:31
4      XK  G          Y          2013-05-14 20:15:00  2013-05-16 10:44:50

   pax    year month  oid
0 -1.0  2013.0   3.0  NULL
1  1.0  2013.0   3.0  NULL
2  1.0  2013.0   3.0  NULL
3  1.0  2013.0   3.0  SYDA82546
4  1.0  2013.0   3.0  SYDA82546

[5 rows x 38 columns]

In [6]:
bookings.shape

(10000010, 38)

In [7]:
bookings['pax'].sum()

4908809.0

In [8]:
bookings.groupby(['arr_port'])['pax'].agg('count')

arr_port
AAB           50
AAE         1550
AAL         1250
AAN           70
AAQ         1070
            ...
ZWE          130
ZWS         1050
ZYL         3760
ZYN           20
ZYR         1600
Name: pax, Length: 2275, dtype: int64

#### Top 10 arrival airports by passengers

In [9]:
print(bookings.groupby(['arr_port'])['pax'].agg('sum').sort_values(ascending=False).nlargest(n=10))

arr_port
LHR         88809.0
MCO         70930.0
LAX         70530.0
LAS         69630.0
JFK         66270.0
CDG         64490.0
BKK         59460.0
MIA         58150.0
SFO         58000.0
DXB         55590.0
Name: pax, dtype: float64

### Exercise 3 (monthly destinations)

#### Importing data and moving to pandas

In [10]:
searches = pd.read_csv('./searches.csv', delimiter='^')

/home/matozqui/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,41,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
print(searches.head(5))

         Date      Time TxnCode                          OfficeID Country  \
0  2013-01-01  20:25:57     MPT  624d8c3ac0b3a7ca03e3c167e0f48327      DE
1  2013-01-01  10:15:33     MPT  b0af35b31588dc4ab06d5cf2986e8e02      MD
2  2013-01-01  18:04:49     MPT  3561a60621de06ab1badc8ca55699ef3      US
3  2013-01-01  17:42:40     FXP  1864e5e8013d9414150e91d26b6a558b      SE
4  2013-01-01  17:48:29     MPT  1ec336348f44207d2e0027dc3a68c118      NO

  Origin Destination  RoundTrip  NbSegments Seg1Departure  ... Seg6Arrival  \
0    TXL         AUH        1.0         2.0           TXL  ...         NaN
1    ATH         MIL        0.0         1.0           ATH  ...         NaN
2    ICT         SFO        1.0         2.0           ICT  ...         NaN
3    RNB         ARN        0.0         1.0           RNB  ...         NaN
4    OSL         MAD        1.0         2.0           OSL  ...         NaN

  Seg6Date Seg6Carrier Seg6BookingCode    From IsPublishedForNeg  \
0      NaN         NaN             NaN  1ASIWS                 0
1      NaN         NaN             NaN  1ASIWS                 0
2      NaN         NaN             NaN  1ASIWS                 0
3      NaN         NaN             NaN    1ASI                 0
4      NaN         NaN             NaN  1ASIWS                 0

  IsFromInternet IsFromVista                        TerminalID InternetOffice
0              0           0  d41d8cd98f00b204e9800998ecf8427e            FRA
1              0           0  d41d8cd98f00b204e9800998ecf8427e            KIV
2              0           0  d41d8cd98f00b204e9800998ecf8427e            NYC
3              0           0  d41d8cd98f00b204e9800998ecf8427e            STO
4              0           0  d41d8cd98f00b204e9800998ecf8427e            OSL

[5 rows x 45 columns]

In [12]:
searches.shape

(20390198, 45)

#### Monthly number of flights arrivals to Malaga, Barcelona and Madrid

In [13]:
searches['month'] = searches['Date'].astype(str).str[5:7]

In [14]:
dest = ['AGP','BCN','MAD']

In [ ]:
searches_dates = searches[searches['Destination'].isin(dest)].groupby(['Destination','month'])['Time'].agg('count')

In [ ]:
searches_dates

In [ ]:
df_searches_dates = pd.DataFrame(searches_dates)

In [ ]:
df_searches_dates['Time'].sum()

In [ ]:
df_searches_dates.shape

In [ ]:
df_searches_dates.unstack(level=-2).plot()

### Exercise 4 (Match searches with bookings)

#### Checking and cleaning data

In [4]:
import pandas as pd
import datetime as dt
import matplotlib

In [22]:
bookings = pd.read_csv('bookings.csv.bz2',sep='^',nrows=9999)
bookings.columns = bookings.columns.str.strip()

In [6]:
searches = pd.read_csv('searches.csv.bz2',sep='^',nrows=9999)

In [8]:
bookings.shape

(9999, 38)

In [9]:
searches.shape

(9999, 45)

In [11]:
pd.set_option('display.max_columns',None) ## Display all columns in pandas dataframe

In [12]:
bookings.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
2135,2013-03-27 00:00:00,1A,AR,73278cdcfabb3d97c17851146a5d3509,58e19e1a22ce1a209618309c4702cf16,6e82ce83e2532850392e7af157a0f696,2013-03-27 00:00:00,6089,0,ZYR,BRU,BE,HEL,HEL,FI,BRU,BRU,BE,ZYR,BRU,BE,HEL,HEL,FI,HELZYR,BRUHEL,BEFI,1,ZYRAMSHEL,UV,V,Y,2013-06-26 16:50:00,2013-06-27 00:10:19,1,2013,3,BUEG12140
4411,2013-03-03 00:00:00,1S,CO,9222ab44126311c65b4965519830863d,551d0497373ebcd4576f9036b64b93bf,fed551ee64b96024dce01e0379203503,2013-03-01 00:00:00,63,215,BOG,BOG,CO,MDE,MDE,CO,MDE,MDE,CO,BOG,BOG,CO,MDE,MDE,CO,BOGMDE,BOGMDE,COCO,0,BOGMDE,KG,W,Y,2013-03-03 20:32:00,2013-03-03 21:35:11,-2,2013,3,NULL
1855,2013-03-23 00:00:00,1P,US,3d65b0c66cdd9903e7061b3bf205e5c3,a8075ae716d830136fb8743191f7ca2c,66f7eff91a2212f7469c4874fc0e69bb,2013-02-25 00:00:00,8815,0,ATL,ATL,US,PSP,PSP,US,ATL,ATL,US,ATL,ATL,US,PSP,PSP,US,ATLPSP,ATLPSP,USUS,0,ATLSFOPSP,NV,K,Y,2013-05-04 10:40:00,2013-05-04 16:15:43,-1,2013,3,NULL
6339,2013-03-20 00:00:00,1P,US,dd7937a8810bfebb432100c65a86841b,88397c01d5ff6fe1c724fb1f109e5031,6f2648cf5c3d632aba30058409515f2e,2013-01-02 00:00:00,359953,0,DFW,DFW,US,SGN,SGN,VN,DFW,DFW,US,SGN,SGN,VN,DFW,DFW,US,DFWSGN,DFWSGN,USVN,1,SGNICNDFW,UO,Q,Y,2013-09-14 23:35:00,2013-09-15 10:43:02,-1,2013,3,NULL
1209,2013-03-21 00:00:00,1V,US,43f66199300273363479f3b815a5edf1,49cb2cb9acb46d6d4c9a4cac41b3fce5,4fb3d58c500e3f75f207c662d06a955b,2013-03-21 00:00:00,197,357,MBS,MBS,US,ERI,ERI,US,ERI,ERI,US,MBS,MBS,US,ERI,ERI,US,ERIMBS,ERIMBS,USUS,0,MBSDTWERI,NV,S,Y,2013-03-22 08:20:00,2013-03-22 11:37:30,1,2013,3,NULL

In [15]:
searches.sample(5)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
2942,2013-01-03,09:00:19,FXB,eb88feac989a5bb5f3a58331edd70200,TN,IAD,TUN,1,4,IAD,FRA,2013-01-12,VR,F,FRA,TUN,2013-01-13,VR,J,TUN,FRA,2013-01-17,VR,J,FRA,IAD,2013-01-18,VR,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,7fc1b079108ed4e9d68819064797de8a,TUN
6482,2013-01-07,15:54:47,MTP,e08742a93e1d3d9e679723625a3484fc,DE,BER,MUC,0,1,BER,MUC,2013-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
6411,2013-01-07,07:09:44,FXB,71c0f26bf8ed7f7af7868b246cd12775,HR,CGK,HKG,0,2,CGK,HKG,2013-01-10,MI,J,HKG,TAO,2013-01-11,UK,J,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASI,0,0,0,88af07336c8c6faab261448755abaf02,RJK
506,2013-01-01,10:53:09,FFP,8e26311e3f5deaceabc65406c823f84d,DE,TCI,CGN,0,1,TCI,CGN,2013-03-24,7V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
3547,2013-01-04,21:37:59,MPT,c4be31bc5f7cfaf0ac79f5e07f941f95,NO,BRU,NDR,1,2,BRU,NDR,2013-07-08,NaN,NaN,NDR,BRU,2013-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [17]:
searches.columns

Index(['Date', 'Time', 'TxnCode', 'OfficeID', 'Country', 'Origin',
       'Destination', 'RoundTrip', 'NbSegments', 'Seg1Departure',
       'Seg1Arrival', 'Seg1Date', 'Seg1Carrier', 'Seg1BookingCode',
       'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 'Seg2Carrier',
       'Seg2BookingCode', 'Seg3Departure', 'Seg3Arrival', 'Seg3Date',
       'Seg3Carrier', 'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival',
       'Seg4Date', 'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure',
       'Seg5Arrival', 'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode',
       'Seg6Departure', 'Seg6Arrival', 'Seg6Date', 'Seg6Carrier',
       'Seg6BookingCode', 'From', 'IsPublishedForNeg', 'IsFromInternet',
       'IsFromVista', 'TerminalID', 'InternetOffice'],
      dtype='object')

In [19]:
searches['OfficeID']

0       624d8c3ac0b3a7ca03e3c167e0f48327
1       b0af35b31588dc4ab06d5cf2986e8e02
2       3561a60621de06ab1badc8ca55699ef3
3       1864e5e8013d9414150e91d26b6a558b
4       1ec336348f44207d2e0027dc3a68c118
                      ...
9994    b695299cc14ddcd1e31f1c922b3e258c
9995    e8741eaf2fa2f71f931475d18fa72096
9996    7da60d9e60a322d3fff7e00cb62baa53
9997    be00295076af5aa39c27a0af17b58b26
9998    38a3abb0a28e3f00fa79a11f552a5052
Name: OfficeID, Length: 9999, dtype: object

In [23]:
bookings['pos_oid']

0       1a11ae49fcbf545fd2afc1a24d88d2b7
1       7437560d8f276d6d05eeb806d9e7edee
2       7437560d8f276d6d05eeb806d9e7edee
3       36472c6dbaf7afec9136ac40364e2794
4       36472c6dbaf7afec9136ac40364e2794
                      ...
9994    765e7d5c49dbeef4e7328e2ccdb1a264
9995    765e7d5c49dbeef4e7328e2ccdb1a264
9996    765e7d5c49dbeef4e7328e2ccdb1a264
9997    765e7d5c49dbeef4e7328e2ccdb1a264
9998    765e7d5c49dbeef4e7328e2ccdb1a264
Name: pos_oid, Length: 9999, dtype: object

In [26]:
merged_inner = pd.merge(left=bookings,right=searches,how='inner',left_on='pos_oid', right_on='OfficeID')
merged_inner.head(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,Seg1Arrival,Seg1Date,Seg1Carrier,Seg1BookingCode,Seg2Departure,Seg2Arrival,Seg2Date,Seg2Carrier,Seg2BookingCode,Seg3Departure,Seg3Arrival,Seg3Date,Seg3Carrier,Seg3BookingCode,Seg4Departure,Seg4Arrival,Seg4Date,Seg4Carrier,Seg4BookingCode,Seg5Departure,Seg5Arrival,Seg5Date,Seg5Carrier,Seg5BookingCode,Seg6Departure,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-03-12 00:00:00,1A,FR,72ed20ddb69598dd472db8701a58a721,38a3abb0a28e3f00fa79a11f552a5052,7b948bad4978da6b181464d764a135e6,2013-03-12 00:00:00,18698,0,CDG,PAR,FR,PVG,SHA,CN,CDG,PAR,FR,CDG,PAR,FR,PVG,SHA,CN,CDGPVG,PARSHA,CNFR,1,CDGZRHPVG,VI,W,Y,2013-03-18 09:50:00,2013-03-19 07:30:06,2,2013,3,PARED38AA,2013-01-01,23:39:49,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,PAR,DUB,1,2,PAR,DUB,2013-02-12,NaN,NaN,DUB,PAR,2013-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
1,2013-03-12 00:00:00,1A,FR,72ed20ddb69598dd472db8701a58a721,38a3abb0a28e3f00fa79a11f552a5052,7b948bad4978da6b181464d764a135e6,2013-03-12 00:00:00,18698,0,CDG,PAR,FR,PVG,SHA,CN,CDG,PAR,FR,CDG,PAR,FR,PVG,SHA,CN,CDGPVG,PARSHA,CNFR,1,CDGZRHPVG,VI,W,Y,2013-03-18 09:50:00,2013-03-19 07:30:06,2,2013,3,PARED38AA,2013-01-01,18:39:14,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,PMO,VRN,1,2,PMO,VRN,2013-01-05,NaN,NaN,VRN,PMO,2013-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
2,2013-03-12 00:00:00,1A,FR,72ed20ddb69598dd472db8701a58a721,38a3abb0a28e3f00fa79a11f552a5052,7b948bad4978da6b181464d764a135e6,2013-03-12 00:00:00,18698,0,CDG,PAR,FR,PVG,SHA,CN,CDG,PAR,FR,CDG,PAR,FR,PVG,SHA,CN,CDGPVG,PARSHA,CNFR,1,CDGZRHPVG,VI,W,Y,2013-03-18 09:50:00,2013-03-19 07:30:06,2,2013,3,PARED38AA,2013-01-01,21:07:29,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,MAH,PAR,0,1,MAH,PAR,2013-08-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
3,2013-03-12 00:00:00,1A,FR,72ed20ddb69598dd472db8701a58a721,38a3abb0a28e3f00fa79a11f552a5052,7b948bad4978da6b181464d764a135e6,2013-03-12 00:00:00,18698,0,CDG,PAR,FR,PVG,SHA,CN,CDG,PAR,FR,CDG,PAR,FR,PVG,SHA,CN,CDGPVG,PARSHA,CNFR,1,CDGZRHPVG,VI,W,Y,2013-03-18 09:50:00,2013-03-19 07:30:06,2,2013,3,PARED38AA,2013-01-01,20:51:07,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,MRS,MUC,1,2,MRS,MUC,2013-04-06,NaN,NaN,MUC,MRS,2013-04-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
4,2013-03-12 00:00:00,1A,FR,72ed20ddb69598dd472db8701a58a721,38a3abb0a28e3f00fa79a11f552a5052,7b948bad4978da6b181464d764a135e6,2013-03-12 00:00:00,18698,0,CDG,PAR,FR,PVG,SHA,CN,CDG,PAR,FR,CDG,PAR,FR,PVG,SHA,CN,CDGPVG,PARSHA,CNFR,1,CDGZRHPVG,VI,W,Y,2013-03-18 09:50:00,2013-03-19 07:30:06,2,2013,3,PARED38AA,2013-01-01,20:04:03,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,ETZ,RHO,0,1,ETZ,RHO,2013-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR

### First try

1) Group bookings by rloc (booking reference), brd_port (boarding airport), off_port (destination airport), brd_time (boarding time), and sum pax (+ for bookings and - for cancelations). Then filter only >0 pax to take only booking references that ended up with a flight
2) Map the previous df with bookings to take the most recent active date (last modification of booking)
3) From previous selection add the rest of necessary fields to join with searches act_date +  pos_oid + brd_port + off_port + brd_time + rloc + pax)

In [31]:
list(bookings.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [36]:
import pandas as pd
pd.set_option('display.max_columns',None) ## Display all columns in pandas dataframe

bookings = pd.read_csv('bookings.csv.bz2',sep='^',nrows=9999,\
                       usecols= ['act_date           ',\
                                 'pos_oid  ',\
                                 'rloc          ',\
                                 'brd_port',\
                                 'off_port',\
                                 'brd_time           ',\
                                 'source',\
                                 'pos_ctry',\
                                 'pos_iata',\
                                 'pax']\
                      )
bookings.columns = bookings.columns.str.strip()

searches = pd.read_csv('searches.csv.bz2',sep='^',nrows=9999,\
                       usecols= ['Date',\
                                'OfficeID',\
                                'Seg1Departure',\
                                'Seg1Arrival',\
                                'Seg1Date',\
                                'Seg2Departure',\
                                'Seg2Arrival',\
                                'Seg2Date',\
                                'Seg3Departure',\
                                'Seg3Arrival',\
                                'Seg3Date',\
                                'Seg4Departure',\
                                'Seg4Arrival',\
                                'Seg4Date',\
                                'Seg5Departure',\
                                'Seg5Arrival',\
                                'Seg5Date',\
                                'Seg6Departure',\
                                'Seg6Arrival',\
                                'Seg6Date']\
                      )

In [37]:
bookings.sample(3)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,brd_port,off_port,brd_time,pax
6074,2013-03-20 00:00:00,1V,JP,03c25bf5203a64c7f1da0c9178edcb5d,95affbff08e31c4dbbb4689f4463febc,203075f1fc3c4522a79217d9d1e50d39,JFK,NRT,2013-05-06 13:25:00,1
3926,2013-03-27 00:00:00,1A,US,07e98d2fd3cd4b737266b99727f7faa8,e8741eaf2fa2f71f931475d18fa72096,ebc6dec5d983182ccaef013e69e575ce,DEN,SEA,2013-03-31 09:00:00,1
5385,2013-03-18 00:00:00,1P,US,72fecda8d2a72c275e70ec38737cb7d9,e9dacda88c2af1783432d5709c6dab24,d73602f65df4647f4eeac2377180c707,JAX,PIT,2013-03-20 08:59:00,1

In [38]:
searches.sample(3)

,Date,OfficeID,Seg1Departure,Seg1Arrival,Seg1Date,Seg2Departure,Seg2Arrival,Seg2Date,Seg3Departure,Seg3Arrival,Seg3Date,Seg4Departure,Seg4Arrival,Seg4Date,Seg5Departure,Seg5Arrival,Seg5Date,Seg6Departure,Seg6Arrival,Seg6Date
1473,2013-01-02,336eba61d844aa8cefcc48cc1e2ce3e1,MUC,RHO,2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7946,2013-01-08,8e26311e3f5deaceabc65406c823f84d,CGN,GDN,2013-04-04,GDN,CGN,2013-04-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3824,2013-01-04,af18be271c64c630c9e6e6bc0f5eba64,CHC,SIN,2013-06-04,SIN,CHC,2013-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
bookings.groupby(['rloc','brd_port','off_port']).count()

                                                    act_date  source  \
rloc                             brd_port off_port
0007cf4196c558df1a7cc3ac25b98b9e ABV      LHR              3       3
                                 LHR      ABV              3       3
000caf3cca9af21c1b9865de5117925d BOS      DCA              1       1
003ce300c2dc52524d1c04cc2e92c02e KUL      SIN              1       1
                                 SIN      KUL              1       1
...                                                      ...     ...
ffef9887438f564ac17ee01d06fbe7b0 LAX      TPE              1       1
                                 TPE      LAX              5       5
fff240658db03b71d82149168852e782 EVV      JAX              1       1
                                 JAX      EVV              1       1
fff99d990c6329cff456c5ffd467cfd4 DUB      MGA              2       2

                                                    pos_ctry  pos_iata  \
rloc                             brd_port off_port
0007cf4196c558df1a7cc3ac25b98b9e ABV      LHR              3         3
                                 LHR      ABV              3         3
000caf3cca9af21c1b9865de5117925d BOS      DCA              1         1
003ce300c2dc52524d1c04cc2e92c02e KUL      SIN              1         1
                                 SIN      KUL              1         1
...                                                      ...       ...
ffef9887438f564ac17ee01d06fbe7b0 LAX      TPE              1         1
                                 TPE      LAX              5         5
fff240658db03b71d82149168852e782 EVV      JAX              1         1
                                 JAX      EVV              1         1
fff99d990c6329cff456c5ffd467cfd4 DUB      MGA              2         2

                                                    pos_oid  brd_time  pax
rloc                             brd_port off_port
0007cf4196c558df1a7cc3ac25b98b9e ABV      LHR             3         3    3
                                 LHR      ABV             3         3    3
000caf3cca9af21c1b9865de5117925d BOS      DCA             1         1    1
003ce300c2dc52524d1c04cc2e92c02e KUL      SIN             1         1    1
                                 SIN      KUL             1         1    1
...                                                     ...       ...  ...
ffef9887438f564ac17ee01d06fbe7b0 LAX      TPE             1         1    1
                                 TPE      LAX             5         5    5
fff240658db03b71d82149168852e782 EVV      JAX             1         1    1
                                 JAX      EVV             1         1    1
fff99d990c6329cff456c5ffd467cfd4 DUB      MGA             2         2    2

[6721 rows x 7 columns]

In [49]:
bookings.tail(100).groupby(['rloc','brd_port','off_port','pos_oid'])['pax'].sum()

rloc                              brd_port  off_port  pos_oid
0e07e500c667cc4d87124cfb391658bf  LHR       ORD       1278856355f4ee05bad28393bc559587    0
                                  ORD       LHR       1278856355f4ee05bad28393bc559587   -1
104ff0c9e380e6dc50c49025b8a2cd8a  PWM       FLL       a781cf0aaf1c01b79c3742946d65e80f    1
12f0d41aa9795ea27e0caa348d3b3bd2  PHX       YYC       7f9d04aaf8afceb71a2b58e989721c9b   -1
14a3003973ad940aa03fba04d48714d8  ATL       MSN       f5614f739f667f89ab25c854ef6828b7    1
                                                                                         ..
e1d718c98aa968c3607189929df10619  ORY       CMN       7e8d7d09acbcee0cc11942f69f86b57a    1
e5902591a246771a6c499c5849b345a6  GMP       HND       df227b2780c913977230277423708816   -2
f6c13c9d58acc38234a45daa3f13fdeb  PGV       MCI       5b1ad497c09261225bae759bcfc27ef2    1
ff14ea9d35d7e67210bdb6188d00a686  KUL       LHR       1da679ab7a5e29a44858d84ecb5eb3d7    0
                                  LHR       KUL       1da679ab7a5e29a44858d84ecb5eb3d7    0
Name: pax, Length: 73, dtype: int64

1st grouping

In [71]:
b1 = bookings.groupby(['rloc','brd_port','off_port'])['pax'].sum().reset_index()
b1 = b1[b1['pax']>0]
b1

                                  rloc  brd_port  off_port  pax
0     0007cf4196c558df1a7cc3ac25b98b9e  ABV       LHR         1
1     0007cf4196c558df1a7cc3ac25b98b9e  LHR       ABV         1
2     000caf3cca9af21c1b9865de5117925d  BOS       DCA         4
3     003ce300c2dc52524d1c04cc2e92c02e  KUL       SIN         1
4     003ce300c2dc52524d1c04cc2e92c02e  SIN       KUL         1
...                                ...       ...       ...  ...
6712  ffded40a2a0299ff1a2f7b691f71d711  PLS       JFK         1
6716  ffef9887438f564ac17ee01d06fbe7b0  LAX       TPE         1
6717  ffef9887438f564ac17ee01d06fbe7b0  TPE       LAX         1
6718  fff240658db03b71d82149168852e782  EVV       JAX         1
6719  fff240658db03b71d82149168852e782  JAX       EVV         1

[4371 rows x 4 columns]

2nd grouping

In [82]:
b_max_dates = bookings.groupby(['rloc','brd_port','off_port'])['act_date'].max().reset_index()
b2 = pd.merge(left=b1,right=b_max_dates,how='inner',left_on=['rloc','brd_port','off_port'], right_on=['rloc','brd_port','off_port'])
b2.shape
b2.sample(3)

,rloc,brd_port,off_port,pax,act_date
197,0c579061a988963089881da7ffa3a656,SIN,HKT,1,2013-03-11 00:00:00
2528,95ae87a701b3cda10d6ab6b1da2055d6,MYR,ORD,2,2013-03-11 00:00:00
2867,a8b50e5cf1f20b55c328c902402264c1,LAX,CLE,1,2013-03-08 00:00:00

3rd grouping

In [84]:
b3 = pd.merge(left=bookings,right=b2,how='inner',left_on=['rloc','brd_port','off_port','act_date'], right_on=['rloc','brd_port','off_port','act_date'])
b3.shape

(4802, 11)

No way found to pick the most recent update on a booking when there are coincidences
between last update date and the next recent one, 
so it might happen to get more data in this 3rd grouping than in the previous

In [86]:
b3.sum()

act_date    2013-03-26 00:00:002013-03-26 00:00:002013-03-...
source      1A    1A    1A    1A    1V    1V    1V    1V  ...
pos_ctry    US      US      AU      AU      US      US    ...
pos_iata    e612b9eeeee6f17f42d9b0d3b79e75cae612b9eeeee6f1...
pos_oid     7437560d8f276d6d05eeb806d9e7edee7437560d8f276d...
rloc        737295a86982c941f1c2da9a46a14043737295a86982c9...
brd_port    SAL     CLT     AKL     SVO     DEN     LGA   ...
off_port    CLT     SAL     SVO     AKL     LGA     DEN   ...
brd_time    2013-04-12 13:04:002013-07-15 07:00:002013-04-...
pax_x                                                    5442
pax_y                                                    6476
dtype: object