# Amadeus Challenge

### Exercise 1 (number of lines for each file)

In [1]:
!wc -l bookings.csv

10000011 bookings.csv

In [2]:
!wc -l searches.csv

20390198 searches.csv

### Exercise 2 (top 10 arrival airports)

#### Importing data and moving to pandas

In [3]:
import pandas as pd
import datetime as dt
import matplotlib

In [4]:
bookings = pd.read_csv('./bookings.csv', delimiter='^')

/home/matozqui/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
print(bookings.head(5))

   act_date             source  pos_ctry                          pos_iata  \
0  2013-03-05 00:00:00  1A      DE        a68dd7ae953c8acfb187a1af2dcbe123
1  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca
2  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca
3  2013-03-26 00:00:00  1A      AU        0f984b3bb6bd06661c95529bbd6193bc
4  2013-03-26 00:00:00  1A      AU        0f984b3bb6bd06661c95529bbd6193bc

                          pos_oid                      rloc            \
0  1a11ae49fcbf545fd2afc1a24d88d2b7  ea65900e72d71f4626378e2ebd298267
1  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043
2  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043
3  36472c6dbaf7afec9136ac40364e2794  5ecf00fdcbcec761c43dc7285253d0c1
4  36472c6dbaf7afec9136ac40364e2794  5ecf00fdcbcec761c43dc7285253d0c1

   cre_date            duration distance  dep_port  ...  route            \
0  2013-02-22 00:00:00     1708        0  ZRH       ...  LHRZRH
1  2013-03-26 00:00:00   135270        0  SAL       ...  SALATLCLT
2  2013-03-26 00:00:00   135270        0  SAL       ...  CLTATLSAL
3  2013-03-26 00:00:00    30885        0  AKL       ...  AKLHKGSVO
4  2013-03-26 00:00:00    30885        0  AKL       ...  SVOHKGAKL

  carrier  bkg_class  cab_class  brd_time             off_time             \
0      VI  T          Y          2013-03-07 08:50:00  2013-03-07 11:33:37
1      NV  L          Y          2013-04-12 13:04:00  2013-04-12 22:05:40
2      NV  U          Y          2013-07-15 07:00:00  2013-07-15 11:34:51
3      XK  G          Y          2013-04-24 23:59:00  2013-04-25 16:06:31
4      XK  G          Y          2013-05-14 20:15:00  2013-05-16 10:44:50

   pax    year month  oid
0 -1.0  2013.0   3.0  NULL
1  1.0  2013.0   3.0  NULL
2  1.0  2013.0   3.0  NULL
3  1.0  2013.0   3.0  SYDA82546
4  1.0  2013.0   3.0  SYDA82546

[5 rows x 38 columns]

In [6]:
bookings.shape

(10000010, 38)

In [7]:
bookings['pax'].sum()

4908809.0

In [8]:
bookings.groupby(['arr_port'])['pax'].agg('count')

arr_port
AAB           50
AAE         1550
AAL         1250
AAN           70
AAQ         1070
            ...
ZWE          130
ZWS         1050
ZYL         3760
ZYN           20
ZYR         1600
Name: pax, Length: 2275, dtype: int64

#### Top 10 arrival airports by passengers

In [9]:
print(bookings.groupby(['arr_port'])['pax'].agg('sum').sort_values(ascending=False).nlargest(n=10))

arr_port
LHR         88809.0
MCO         70930.0
LAX         70530.0
LAS         69630.0
JFK         66270.0
CDG         64490.0
BKK         59460.0
MIA         58150.0
SFO         58000.0
DXB         55590.0
Name: pax, dtype: float64

### Exercise 3 (monthly destinations)

#### Importing data and moving to pandas

In [10]:
searches = pd.read_csv('./searches.csv', delimiter='^')

/home/matozqui/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,41,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
print(searches.head(5))

         Date      Time TxnCode                          OfficeID Country  \
0  2013-01-01  20:25:57     MPT  624d8c3ac0b3a7ca03e3c167e0f48327      DE
1  2013-01-01  10:15:33     MPT  b0af35b31588dc4ab06d5cf2986e8e02      MD
2  2013-01-01  18:04:49     MPT  3561a60621de06ab1badc8ca55699ef3      US
3  2013-01-01  17:42:40     FXP  1864e5e8013d9414150e91d26b6a558b      SE
4  2013-01-01  17:48:29     MPT  1ec336348f44207d2e0027dc3a68c118      NO

  Origin Destination  RoundTrip  NbSegments Seg1Departure  ... Seg6Arrival  \
0    TXL         AUH        1.0         2.0           TXL  ...         NaN
1    ATH         MIL        0.0         1.0           ATH  ...         NaN
2    ICT         SFO        1.0         2.0           ICT  ...         NaN
3    RNB         ARN        0.0         1.0           RNB  ...         NaN
4    OSL         MAD        1.0         2.0           OSL  ...         NaN

  Seg6Date Seg6Carrier Seg6BookingCode    From IsPublishedForNeg  \
0      NaN         NaN             NaN  1ASIWS                 0
1      NaN         NaN             NaN  1ASIWS                 0
2      NaN         NaN             NaN  1ASIWS                 0
3      NaN         NaN             NaN    1ASI                 0
4      NaN         NaN             NaN  1ASIWS                 0

  IsFromInternet IsFromVista                        TerminalID InternetOffice
0              0           0  d41d8cd98f00b204e9800998ecf8427e            FRA
1              0           0  d41d8cd98f00b204e9800998ecf8427e            KIV
2              0           0  d41d8cd98f00b204e9800998ecf8427e            NYC
3              0           0  d41d8cd98f00b204e9800998ecf8427e            STO
4              0           0  d41d8cd98f00b204e9800998ecf8427e            OSL

[5 rows x 45 columns]

In [12]:
searches.shape

(20390198, 45)

#### Monthly number of flights arrivals to Malaga, Barcelona and Madrid

In [13]:
searches['month'] = searches['Date'].astype(str).str[5:7]

In [14]:
dest = ['AGP','BCN','MAD']

In [ ]:
searches_dates = searches[searches['Destination'].isin(dest)].groupby(['Destination','month'])['Time'].agg('count')

In [ ]:
searches_dates

In [ ]:
df_searches_dates = pd.DataFrame(searches_dates)

In [ ]:
df_searches_dates['Time'].sum()

In [ ]:
df_searches_dates.shape

In [ ]:
df_searches_dates.unstack(level=-2).plot()

### Exercise 4 (Match searches with bookings)

#### Checking and cleaning data

In [1]:
import pandas as pd
pd.set_option('display.max_columns',None) ## Display all columns in pandas dataframe

In [2]:
bookings = pd.read_csv('bookings.csv.bz2',sep='^',nrows=9999)
bookings.columns = bookings.columns.str.strip()
bookings.shape

(9999, 38)

In [3]:
bookings.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
6358,2013-03-11 00:00:00,1A,DE,466bd419ae9885ddc5b437170f74623d,9aa037e8d4135205e54688c113ed7e80,553d6c2db1da1cdb64d144c06d535fcb,2013-03-11 00:00:00,29861,0,DUS,DUS,DE,LAS,LAS,US,DUS,DUS,DE,JFK,NYC,US,LAS,LAS,US,JFKLAS,LASNYC,USUS,0,JFKLAS,KK,S,Y,2013-06-04 17:00:00,2013-06-04 19:02:36,2,2013,3,BEROP38AW
853,2013-03-14 00:00:00,1A,ES,9297f538d3a49b74eef79821544dc17e,0f5b2245eeee13493233299557ac05ca,f25cef4ed37d1483d0c4c7cfba9758ef,2013-03-13 00:00:00,8948,0,BCN,BCN,ES,LIM,LIM,PE,BCN,BCN,ES,LIM,LIM,PE,LPB,LPB,BO,LIMLPB,LIMLPB,BOPE,1,LIMVVILPB,VK,V,Y,2013-03-20 10:20:00,2013-03-20 20:56:56,-1,2013,3,BCNI12186
6777,2013-03-12 00:00:00,1A,RU,402c90a71304130e46caddeef76d88b1,01bd661ece61c84903a9750c6d4444f2,e366824abfb3ab1bec1207313c8e5483,2013-03-12 00:00:00,3993,0,SVO,MOW,RU,IST,IST,TR,SVO,MOW,RU,IST,IST,TR,SVO,MOW,RU,ISTSVO,ISTMOW,RUTR,1,ISTSVO,DF,N,Y,2013-03-28 21:35:00,2013-03-29 02:28:36,2,2013,3,NULL
4743,2013-03-07 00:00:00,1V,JP,9f92cfa21574af22ccc5c43bb325bd46,f6e94476b867f606d207cd2ef8995513,f7ef7245c1fc374a3eabd96efb261a09,2013-03-07 00:00:00,11374,0,HND,TYO,JP,HNL,HNL,US,HND,TYO,JP,HNL,HNL,US,HND,TYO,JP,HNDHNL,HNLTYO,JPUS,1,HNLHND,XR,W,Y,2013-06-04 18:35:00,2013-06-05 21:39:48,1,2013,3,NULL
7523,2013-03-22 00:00:00,1P,US,461c775de1a57413b0e812d6bf3c4365,e0aeface9792d639664c59a300e32f0f,2845af5dc7330c47c69121f3399122e1,2013-03-22 00:00:00,15150,0,IAH,HOU,US,HKG,HKG,HK,IAH,HOU,US,IAH,HOU,US,HKG,HKG,HK,HKGIAH,HKGHOU,HKUS,1,IAHSFOHKG,FK,S,Y,2013-04-21 07:13:00,2013-04-22 17:42:54,2,2013,3,NULL

## First try

#### Bookings formatting

1) Group bookings by rloc (booking reference), brd_port (boarding airport), off_port (destination airport), brd_time (boarding time), and sum pax (+ for bookings and - for cancelations). Then filter only >0 pax to take only booking references that ended up with a flight
2) Map the previous df with bookings to take the most recent active date (last modification of booking)
3) From previous selection add the rest of necessary fields to join with searches act_date +  pos_oid + brd_port + off_port + brd_time + rloc + pax)

In [94]:
import pandas as pd
pd.set_option('display.max_columns',None) ## Display all columns in pandas dataframe

bookings = pd.read_csv('bookings.csv.bz2',sep='^',nrows=9999,\
                       usecols= ['act_date           ',\
                                 'pos_oid  ',\
                                 'rloc          ',\
                                 'brd_port',\
                                 'off_port',\
                                 'brd_time           ',\
                                 'source',\
                                 'pos_ctry',\
                                 'pos_iata',\
                                 'pax']\
                      )
bookings.columns = bookings.columns.str.strip()

1st grouping

In [95]:
b1 = bookings.groupby(['rloc','brd_port','off_port'])['pax'].sum().reset_index()
b1 = b1[b1['pax']>0]
b1

                                  rloc  brd_port  off_port  pax
0     0007cf4196c558df1a7cc3ac25b98b9e  ABV       LHR         1
1     0007cf4196c558df1a7cc3ac25b98b9e  LHR       ABV         1
2     000caf3cca9af21c1b9865de5117925d  BOS       DCA         4
3     003ce300c2dc52524d1c04cc2e92c02e  KUL       SIN         1
4     003ce300c2dc52524d1c04cc2e92c02e  SIN       KUL         1
...                                ...       ...       ...  ...
6712  ffded40a2a0299ff1a2f7b691f71d711  PLS       JFK         1
6716  ffef9887438f564ac17ee01d06fbe7b0  LAX       TPE         1
6717  ffef9887438f564ac17ee01d06fbe7b0  TPE       LAX         1
6718  fff240658db03b71d82149168852e782  EVV       JAX         1
6719  fff240658db03b71d82149168852e782  JAX       EVV         1

[4371 rows x 4 columns]

2nd grouping

In [96]:
b_max_dates = bookings.groupby(['rloc','brd_port','off_port'])['act_date'].max().reset_index()
b2 = pd.merge(left=b1,right=b_max_dates,how='inner',left_on=['rloc','brd_port','off_port'], right_on=['rloc','brd_port','off_port'])
b2.shape
b2.sample(3)

,rloc,brd_port,off_port,pax,act_date
3373,c4ef1015e42df655d3dbd51f4cf01f17,LHR,DEN,1,2013-03-07 00:00:00
666,260fb23105f7341e8680e89ef4291c64,JFK,ORD,1,2013-03-14 00:00:00
1572,5b0c9d150f1e8f36dacc8848d3111d41,OMA,DFW,1,2013-03-29 00:00:00

3rd grouping

In [97]:
b3 = pd.merge(left=bookings,right=b2,how='inner',left_on=['rloc','brd_port','off_port','act_date'], right_on=['rloc','brd_port','off_port','act_date'])
b3.shape

(4802, 11)

No way found to pick the most recent update on a booking when there are coincidences
between last update date and the next recent one, 
so it might happen to get more data in this 3rd grouping than in the previous

In [98]:
b3.sum()

act_date    2013-03-26 00:00:002013-03-26 00:00:002013-03-...
source      1A    1A    1A    1A    1V    1V    1V    1V  ...
pos_ctry    US      US      AU      AU      US      US    ...
pos_iata    e612b9eeeee6f17f42d9b0d3b79e75cae612b9eeeee6f1...
pos_oid     7437560d8f276d6d05eeb806d9e7edee7437560d8f276d...
rloc        737295a86982c941f1c2da9a46a14043737295a86982c9...
brd_port    SAL     CLT     AKL     SVO     DEN     LGA   ...
off_port    CLT     SAL     SVO     AKL     LGA     DEN   ...
brd_time    2013-04-12 13:04:002013-07-15 07:00:002013-04-...
pax_x                                                    5442
pax_y                                                    6476
dtype: object

#### Searches formatting

In [122]:
searches = pd.read_csv('searches.csv.bz2',sep='^',nrows=9999,\
                       usecols= ['Date',\
                                'OfficeID',\
                                'Seg1Departure',\
                                'Seg1Arrival',\
                                'Seg1Date',\
                                'Seg2Departure',\
                                'Seg2Arrival',\
                                'Seg2Date',\
                                'Seg3Departure',\
                                'Seg3Arrival',\
                                'Seg3Date',\
                                'Seg4Departure',\
                                'Seg4Arrival',\
                                'Seg4Date',\
                                'Seg5Departure',\
                                'Seg5Arrival',\
                                'Seg5Date',\
                                'Seg6Departure',\
                                'Seg6Arrival',\
                                'Seg6Date']\
                      )
searches.columns = searches.columns.str.strip()
searches.shape

(9999, 20)

Convert columns Seg1, Seg2, etc. (departure, arrival and date) into flight searches records in the table

In [123]:
s1 = pd.DataFrame()
for i in range(1,7):
    a = searches[[
                'Date',\
                'OfficeID',\
                'Seg' + str(i) + 'Departure',\
                'Seg' + str(i) + 'Arrival',\
                'Seg' + str(i) + 'Date',\
            ]]
    a.columns = ['act_date','pos_oid','brd_port','off_port','brd_time']
    s1 = pd.concat([s1,a])

In [124]:
s1.sample(5)

        act_date                           pos_oid brd_port off_port brd_time
7950  2013-01-08  84d45f6fb4344fb462055952f2ee6358      NaN      NaN      NaN
7755  2013-01-08  788e52ddaa551032c69ba37cc316233f      NaN      NaN      NaN
6106  2013-01-07  3561a60621de06ab1badc8ca55699ef3      NaN      NaN      NaN
650   2013-01-01  a7640866868096c8a1d087e66589879e      NaN      NaN      NaN
1041  2013-01-02  d03a30f66f773a65aad66e7bafd1110f      NaN      NaN      NaN

Not all searches have 2nd, 3rd, 4th, etc. flight so we drop them

In [125]:
s2 = s1.dropna()
s2.shape

(18263, 5)

Check duplicates and adding people per search

In [126]:
s2[s2.duplicated()].shape

(13, 5)

In [127]:
s3 = s2.drop_duplicates()
s3.shape

(18250, 5)

#### Some data cleanance

In [128]:
list(b3.columns)

['act_date',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid',
 'rloc',
 'brd_port',
 'off_port',
 'brd_time',
 'pax_x',
 'pax_y',
 'bdr_date',
 'brd_date']

In [129]:
list(s3.columns)

['act_date', 'pos_oid', 'brd_port', 'off_port', 'brd_time']

Change datetime format to date

In [130]:
import dateutil.parser
b3['brd_date'] = b3['brd_time'].apply(lambda x: dateutil.parser.parse(x).date())
s3['brd_date'] = s3['brd_time'].apply(lambda x: dateutil.parser.parse(x).date())
b3['act_date'] = b3['act_date'].apply(lambda x: dateutil.parser.parse(x).date())
s3['act_date'] = s3['act_date'].apply(lambda x: dateutil.parser.parse(x).date())

/home/matozqui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [151]:
s3['act_date'].sort_values(ascending=False)

9991    2013-01-10
9979    2013-01-10
9955    2013-01-10
9954    2013-01-10
9953    2013-01-10
           ...
171     2013-01-01
172     2013-01-01
176     2013-01-01
177     2013-01-01
0       2013-01-01
Name: act_date, Length: 18250, dtype: object

Remove blank spaces for all values

In [163]:
s3['pos_oid'] = s3['pos_oid'].apply(lambda x: x.strip())
b3['pos_oid'] = b3['pos_oid'].apply(lambda x: x.strip())
s3['brd_port'] = s3['brd_port'] .apply(lambda x: x.strip())
b3['brd_port'] = b3['brd_port'] .apply(lambda x: x.strip())
s3['off_port'] = s3['off_port'] .apply(lambda x: x.strip())
b3['off_port'] = b3['off_port'] .apply(lambda x: x.strip())

/home/matozqui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/matozqui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/matozqui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

#### Mixing both

In [179]:
finded = pd.merge(left=b3,right=s3,how='inner',\
                  left_on=[\
                           #'act_date'\
                           #'pos_oid'\
                           'brd_port'\
                           ,'off_port'\
                           #,'brd_date'\
                          ]\
                  ,right_on=[\
                           #'act_date'\
                           #'pos_oid'\
                           'brd_port'\
                           ,'off_port'\
                           #,'brd_date'\
                            ]\
                 )
finded.drop_duplicates(inplace=True)
finded.shape

(3768, 17)

In [184]:
finded['found']=1

In [199]:
final = pd.merge(left=b3,right=finded,how='left',\
                  left_on=[\
                           #'act_date'\
                           #'pos_oid'\
                           'brd_port'\
                           ,'off_port'\
                           #,'brd_date'\
                          ]\
                  ,right_on=[\
                           #'act_date'\
                           #'pos_oid'\
                           'brd_port'\
                           ,'off_port'\
                           #,'brd_date'\
                            ]\
                 )
final.drop_duplicates(inplace=True)
final['found'].fillna(0, inplace=True)
final.columns
final.groupby('found').count()
final['found']

0        1.0
1        1.0
2        0.0
3        0.0
4        0.0
        ...
12835    0.0
12836    1.0
12837    1.0
12838    0.0
12839    0.0
Name: found, Length: 12840, dtype: float64