# Amadeus Challenge

### Bunzipping files

In [11]:
!bunzip2 -dk bookings.csv.bz2
!bunzip2 -dk searches.csv.bz2

OSError: [Errno 22] Invalid argument

### Exercise 1 (number of lines for each file)

In [11]:
!wc -l bookings.csv

10000011 bookings.csv

In [12]:
!wc -l searches.csv

20390198 searches.csv

### Exercise 2 (top 10 arrival airports)

#### Moving to pandas

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('./bookings.csv', delimiter='^')

/home/matozqui/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
print(df.head(5))

   act_date             source  pos_ctry                          pos_iata  \
0  2013-03-05 00:00:00  1A      DE        a68dd7ae953c8acfb187a1af2dcbe123
1  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca
2  2013-03-26 00:00:00  1A      US        e612b9eeeee6f17f42d9b0d3b79e75ca
3  2013-03-26 00:00:00  1A      AU        0f984b3bb6bd06661c95529bbd6193bc
4  2013-03-26 00:00:00  1A      AU        0f984b3bb6bd06661c95529bbd6193bc

                          pos_oid                      rloc            \
0  1a11ae49fcbf545fd2afc1a24d88d2b7  ea65900e72d71f4626378e2ebd298267
1  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043
2  7437560d8f276d6d05eeb806d9e7edee  737295a86982c941f1c2da9a46a14043
3  36472c6dbaf7afec9136ac40364e2794  5ecf00fdcbcec761c43dc7285253d0c1
4  36472c6dbaf7afec9136ac40364e2794  5ecf00fdcbcec761c43dc7285253d0c1

   cre_date            duration distance  dep_port  ...  route            \
0  2013-02-22 00:00:00     1708        0  ZRH       ...  LHRZRH
1  2013-03-26 00:00:00   135270        0  SAL       ...  SALATLCLT
2  2013-03-26 00:00:00   135270        0  SAL       ...  CLTATLSAL
3  2013-03-26 00:00:00    30885        0  AKL       ...  AKLHKGSVO
4  2013-03-26 00:00:00    30885        0  AKL       ...  SVOHKGAKL

  carrier  bkg_class  cab_class  brd_time             off_time             \
0      VI  T          Y          2013-03-07 08:50:00  2013-03-07 11:33:37
1      NV  L          Y          2013-04-12 13:04:00  2013-04-12 22:05:40
2      NV  U          Y          2013-07-15 07:00:00  2013-07-15 11:34:51
3      XK  G          Y          2013-04-24 23:59:00  2013-04-25 16:06:31
4      XK  G          Y          2013-05-14 20:15:00  2013-05-16 10:44:50

   pax    year month  oid
0 -1.0  2013.0   3.0  NULL
1  1.0  2013.0   3.0  NULL
2  1.0  2013.0   3.0  NULL
3  1.0  2013.0   3.0  SYDA82546
4  1.0  2013.0   3.0  SYDA82546

[5 rows x 38 columns]

In [14]:
df.shape

(10000010, 38)

In [17]:
df['pax'].sum()

4908809.0

In [18]:
df.groupby(['arr_port'], as_index=False, sort=False).count()

,arr_port,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,LHR,215551,215551,215551,215551,215551,215551,215551,215551,215551,...,215551,215551,215551,215551,215551,215551,215551,215551,215551,215551
1,CLT,28422,28422,28422,28422,28422,28422,28422,28422,28422,...,28422,28422,28422,28422,28422,28422,28422,28422,28422,28422
2,SVO,37902,37902,37902,37902,37902,37902,37902,37902,37902,...,37902,37902,37902,37902,37902,37902,37902,37902,37902,37902
3,LGA,62212,62212,62212,62212,62212,62212,62212,62212,62212,...,62212,62212,62212,62212,62212,62212,62212,62212,62212,62212
4,SIN,78012,78012,78012,78012,78012,78012,78012,78012,78012,...,78012,78012,78012,78012,78012,78012,78012,78012,78012,78012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2270,KGP,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
2271,CNJ,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
2272,VEL,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
2273,SLM,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
2274,SG,1,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,0,0

#### Top 10 arrival airports by passengers

In [38]:
print(df.groupby(['arr_port'])['pax'].agg('sum').sort_values(ascending=False).nlargest(n=10))

arr_port
LHR         88809.0
MCO         70930.0
LAX         70530.0
LAS         69630.0
JFK         66270.0
CDG         64490.0
BKK         59460.0
MIA         58150.0
SFO         58000.0
DXB         55590.0
Name: pax, dtype: float64